body {
    font-family: sans-serif;
}

header {
    background-color: rgb(45, 43, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: cyan;
}

#nav-bar {
    display: flex;
    padding: 20px;
}

#nav-bar a {
    text-decoration: none;
    color: cyan;
}

#nav-bar ul {
    margin-left: 20px;
    list-style-type: none;
}

#nav-bar li {
    display: inline-block;
    margin-left: 20px;
    text-decoration: solid underline cyan 3px;
    color: cyan;
}

main {
    
}

#subtitle-container {
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
    color: black;
}

#subtitle-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.subtitle-text-container {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: aqua;
}

#about-me {
    background-color: lightblue;
    display: flex;
    margin-left: 10%;
}

#about-me aside {
    width: 70%;
    padding-left: 20px;
    margin-left: 20px;
    float: right;
    background-color: lightgray;
    display: block;
}

#work {
    background-color: blueviolet;
    display: flex;
    margin-left: 10%;
}

#contact-me {
    background-color: lightgreen;
    display: flex;
    margin-left: 10%;
}

#contact-me aside {
    display: flex;
    justify-content: space-between;
}

#contact-me p {
    margin-left: 20px;
}

@media screen and (max-width: 768px){
    header {
        flex-direction: column;
    }


}